<!-- SLIDER - 1 blocks -->
{% if (modules5) %} 
    <div id="pos-slider">
        <div class="container{{ pos_sliders }}">
            <div class="row">
                {% for module in modules5 %} 
                    {{ module }} 
                {% endfor %} 
            </div>
        </div>
    </div>
{% endif %} 

